/* Navbar */

.navbar-brand img {
    height: 2em;
    width: auto;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#searchBox>input {
    margin-top: 0.33em;
    width: 100%;
}

#userIcon:hover, #cartIcon:hover {
    filter: brightness(60%);
}

#userIcon>img, #cartIcon>img {
    height: 3em;
    width: auto;
}


/* Main page */

body {
    background-color: rgb(230, 230, 230);   /* TODO: change BG color based on car's color */
}

@media (min-width: 576px) {
    .carPage {
        width: 96%;
    }
}
@media (min-width: 768px) {
    .carPage {
        width: 88%;
    }
}

table * {
    text-align: center;
}

/* Reviews */

.userPhoto {
    height: 6em;
    width: auto;
    text-align: center;
}

.userName {
    font-size: 1.2em;
    font-weight: bold;
}

.timestamp {
    margin-top: 1.25em;
    font-size: 0.8em;
    color: gray;
}