/* Navbar */

.navbar-brand img {
    height: 2em;
    width: auto;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#searchBox>input {
    margin-top: 0.33em;
    width: 100%;
}

#userIcon:hover, #cartIcon:hover {
    filter: brightness(60%);
}

#userIcon>img, #cartIcon>img {
    height: 3em;
    width: auto;
}


/* Main cart */

#cartTitle {
    background-color:rgba(176, 242, 245, 0.452);
    padding: 2em;
}


#cart {
    width: 96%;
}

.table-responsive {
    overflow-x: hidden;
}

table * {
    text-align: center;
}

.carImg {
    width: 100%;
    height: auto;
}

.carItem>td {
    vertical-align: middle;
}

td button {
    margin-top: 1em;
    margin-bottom: 1em;
}