/* Navbar */

.navbar-brand img {
    height: 2em;
    width: auto;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#searchBox>input {
    margin-top: 0.33em;
    width: 100%;
}

#userIcon:hover, #cartIcon:hover {
    filter: brightness(60%);
}

#userIcon>img, #cartIcon>img {
    height: 3em;
    width: auto;
}


