/* Main page */

body {
    background-color: rgb(230, 230, 230);   /* TODO: change BG color based on car's color */
}

@media (min-width: 576px) {
    .carPage { width: 96%; }
}
@media (min-width: 768px) {
    .carPage { width: 88%; }
}

table * { text-align: center; }


/* Reviews */

/* #sessUserReview { width: 66%; } */

.rvUserPhoto {
    height: 6em;
    width: auto;
    text-align: center;
}

.rvUserName {
    font-size: 1.2em;
    font-weight: bold;
}

.detailsReview {
    margin-top: 1.25em;
    font-size: 0.8em;
    color: gray;
}