@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body {
    font-family: Poppins, sans-serif;
    background-color: #202027;
}

.row {
    margin-top: 50px;
}

.join-page-circle-1 {
    position: absolute;
    width: 35vw;
    height: 35vw;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  
  .join-page-circle-1::before {
    content: '';
    transform: translateX(-20%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgb(188, 58, 128, .1);
  }
  
  .join-page-circle-2 {
    position: absolute;
    width: 30vw;
    height: 30vw;
    top: 0;
    left: 20vw;
    z-index: -1;
  }
  
  .join-page-circle-2::before {
    content: '';
    transform: translateY(-30%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgb(52, 87, 178, .1);
  }
  
  .btn_create_account {
    color: #2F303A;
    background-color: #FFFFFF;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    border: 1px solid #FFFFFF;
    text-decoration: none;
    font-size: .9rem;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #2180d8;
  }
  
  .btn:focus {
    background-color: #2796ff;
  }
  
  
  h5 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #FFFFFF; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
  } 
  
  h5 span { 
     background:#202027;
     padding:0 10px; 
  }